<div class="box">

<div class="user">
<h4><%= @input %></h4>
<p><em>-You</em></p>
</div>
</div>


<div class="box">
<div class="coach">
<h4><%= @answer %></h4>
<p><em>-Your coach</em></p>
</div>
</div>


<div class="link">
<%= link_to "Ask a new question", ask_path, class:"text-decoration-none"%>
</div>
