
<form action="/answer" data-turbo="false">
<label for="floatingInput" class="d-flex pt-3 pb-2" >Ask your coach anything:</label>
  <div class="d-flex">
  <input type="text" class="input-group-text" name="input">
  <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
</form>
